__pycache__/
parco/test_*.png
parco/sheet.png
parco/render.log
parco/video_muto.mp4
parco/audio/*_raw.mp3
parco/voce_*.mp3
parco/audio/*_raw.mp3
parco/test2_*.png
parco/sheet*.png
parco/video_muto2.mp4
parco/render2.log
parco/test3_*.png
parco/sheet*.png
parco/can_check.png
parco/video_muto3.mp4
parco/render3.log
